{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow border-0 p-4">
        <h2 class="mb-4 text-center">📝 Yangi post qo‘shish</h2>

        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
            {{ from.media }}
          {{ form|crispy }}

          <div class="text-center mt-3">
            <button type="submit" class="btn btn-success px-4">
              Saqlash
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
